<template>
  <div>Hello there!</div>
</template>

<script>
  import "./App.scss";
</script>

<style lang="scss" scoped>
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
</style>