@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

html, body, #app {
  font-family: 'Amatic SC', cursive;
  font-size: 24px;
  font-weight: 900;
  margin: 0;
  height: 100%;
  width: 100%;
}